.work_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter_option_wrapper {
    display: flex;
}
.filter_wrapper{
    padding: 10px;
}
.work_wrapper {
    padding: 20px;
}

.work_item_wrapper{
    padding: 20px;
}
.work_item_image {
 width: 585px;
 height: 500px;
} 
.work_item_title {

}
.work_item_description {

}
.work_item_more {

}