@font-face {
  font-family: 'Teko-Regularrff';
  src: local('Teko-Regularrff'), url(./lib/resources/fonts/Teko/Teko-Regular.ttf) format('truetype');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
}
